<%= form_for post do |f| %>
  <%= render 'shared/errors', object: post %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <%= f.fields_for :post_attachments do |p| %>
     <div class="field">
       <%= p.label :attachments %><br>
       <p><%= p.file_field :attachments, :multiple => true, name: "post_attachments[attachments][]" %> </p>
       <p><%= p.file_field :attachments, :multiple => true, name: "post_attachments[attachments][]" %> </p>
     </div>
   <% end %>

  <%= f.submit %>
<% end %>
