<%= link_to 'All posts', posts_path %>
<h1><%= @post.title %></h1>


<% @post_attachments.each do |p| %>
  <%= image_tag p.attachments_url %>
  <!--<%= link_to "Edit Attachment", edit_post_attachment_path(p) %>-->
<% end %>


<p><%= @post.body %></p>

<p><%= link_to 'Edit', edit_post_path(@post) %></p>
